# KNN

In [1]:
import pandas as pd
import numpy as np

### IMPORTING DATA

In [2]:
data=pd.read_csv("train.csv")
data.head(10)

,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,Price,Unit Mileage,Brand
0,Maruti Wagon R LXI CNG,9,2010,72000,0,1,0,3.458,998.0,58.16,5.0,1.75,km/kg,18
1,Hyundai Creta 1.6 CRDi SX Option,10,2015,41000,1,1,0,19.670,1582.0,126.20,5.0,12.50,kmpl,10
2,Honda Jazz V,2,2011,46000,4,1,0,18.200,1199.0,88.70,5.0,4.50,kmpl,9
3,Maruti Ertiga VDI,2,2012,87000,1,1,0,20.770,1248.0,88.76,7.0,6.00,kmpl,18
4,Audi A4 New 2.0 TDI Multitronic,3,2013,40670,1,0,2,15.200,1968.0,140.80,5.0,17.74,kmpl,1
5,Hyundai EON LPG Era Plus Option,5,2012,75000,3,1,0,10.761,814.0,55.20,5.0,2.35,km/kg,10
6,Nissan Micra Diesel XV,6,2013,86999,1,1,0,23.080,1461.0,63.10,5.0,3.50,kmpl,22
7,Toyota Innova Crysta 2.8 GX AT 8S,9,2016,36000,1,0,0,11.360,2755.0,171.50,8.0,17.50,kmpl,28
8,Volkswagen Vento Diesel Comfortline,10,2013,64430,1,1,0,20.540,1598.0,103.60,5.0,5.20,kmpl,29
9,Tata Indica Vista Quadrajet LS,2,2012,65932,1,1,2,22.300,1248.0,74.00,5.0,1.95,kmpl,27

### SPLITTING DATA TO TRAIN AND TEST

In [3]:
data.drop(['Name','Unit Mileage'],axis=1,inplace=True)

In [4]:
x = data.loc[:, data.columns!='Price',].values
y = data['Price'].values

In [5]:
data.Transmission.unique()

array([1, 0], dtype=int64)

In [6]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.3,stratify=data[['Transmission']])

HERE TRANSMISSION IS USED TO STRATIFY BECAUSE IT HAS THE HIGHEST CORRELATION WITH THE TARGET VARIABLE(PRICE)

### APPLYING THE ALGORITHM

In [7]:
from sklearn.neighbors import KNeighborsRegressor
from sklearn.metrics import mean_squared_error
L=[];
for i in range(3,15,2):
    M=[];
    knn = KNeighborsRegressor(n_neighbors=i)
    knn.fit(x_train, y_train)
    y_pred = knn.predict(x_test)
    rmse = np.sqrt(mean_squared_error(y_test, y_pred))
    M.append(i);
    M.append(rmse);
    L.append(M);

In [8]:
min=L[0];
for i in range(len(L)):
    if L[i][1]<min[1]:
        min=L[i];
n=min[0];
print(n);

5

THE BEST VALUE OF K IS n=5

In [9]:
knn = KNeighborsRegressor(n_neighbors=n)
knn.fit(x_train, y_train)
y_pred = knn.predict(x_test)

### METRICS

In [10]:
from sklearn.metrics import mean_absolute_error
mae = mean_absolute_error(y_test, y_pred)
print(mae)

3.8811616832779627

In [11]:
from sklearn.metrics import mean_squared_error
mse = mean_squared_error(y_test, y_pred)
print(mse)

52.03788643853821

In [12]:
rmse = np.sqrt(mean_squared_error(y_test, y_pred))
print(rmse)

7.213729024473972

In [13]:
from sklearn.metrics import r2_score
r_squared = r2_score(y_test, y_pred)
print(r_squared)

0.5863344713109178